@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Very-Violet: hsl(270, 9%, 17%);
  --gray-Violet: hsl(273, 4%, 51%);
  --Very-Gray: hsl(0, 0%, 98%);
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --font-size: 16px;
  --family_1: "DM Serif Display", serif;
  --family_2: "Karla", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.karla {
  font-family: var(--family_1);
}
.dmSerif {
  font-family: var(--family_2);
}
